.App {
  text-align: center;
}
button{
  margin: 10px;
}
.header{
  background-color: rgb(235, 174, 45);
  height: 80px;
  position: absolute;
  top: 0;
  font-size: 25px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-content: center;  */
}
.topnav{
  
  
  
}
.cart-btn{
  float: right;
}
.search-input{
  height: 20px;
  width: 600px;
  border: 2px solid black;
  border-radius: 50px;
  padding: 0px 10px;

}

.title{
  display: block;
  /* padding: 8px; */
  float: left;
  font-family: cursive;
  font-size: 30px;
  color: aliceblue;
  font-weight: bold;
  margin-left: 100px;
  line-height: 50px;
}
/* .container{
  margin: 20px;
} */
.single-car{
  /* padding: 40px; */
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
  /* width: 250px; */
  
  
}
.card{
  /* flex:1 1 1 ; */
  align-items: center;
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
  align-items: center;
  margin: 25px;
  
}
.portrait{
  height: 300px;
  width: 250px;
  align-items: center;
  /* border: 1px solid black;
  border-radius: 50px; */
  
}
.portrait-search{
  height: 300px;

}
img{
  width: 100%;
  height: 100%;
  /* border-radius: 50px; */
}
.cart-text{
  text-align: right;
}
.car-image{
  cursor: pointer;
}
.car-image :hover{
  cursor: pointer;
}

.addtoCartBtn {
  cursor: default;
  /* width: 200px; */
}
.addtoCartBtn :hover{
  background-color: rgb(230, 159, 29);
  cursor: pointer;
}
.my-cart{
  width: 100%;
  /* border: 1px solid black; */
  margin: 20px;
  text-align: left;
}
tbody {
  border: 1px solid black;
}
.remove{
  background-color: red;
}
.section-title{
  font-size: 25px;
}
.portrait-car{
  height: 600px;
  width: 500px;
  margin-left: 30px ; 
}
.car-detail-title{
  font-family: cursive;
  font-size: larger;
}
.single-car-details{
  display: flex;
  margin: 20px;
  justify-content: space-evenly;
}
/* .single-car-image{
  
} */
.car-details-image{
  height: 650px;
  width: 550px;
  
}
.car-details{
  font-family: cursive;
  display: flex;
  flex-direction: column;
  width:max-content;
  /* float: right; */
  /* flex: 0.4;  */
  align-items: center;
  justify-content: center;
  
}
.cart-row{
  border: 10px solid black;
}
thead{
  text-decoration: underline;
}
table {
  width: 100%;
}
.grand-total{
  text-decoration: underline;
}